{% extends 'layouts/base.html' %}
{% load bootstrap5 %}
{% load static %}
{% block content %}

      <div class="d-flex gap-3 align-items-center">
        <h1>Log In</h1>
      </div>

      <div class="row mt-3">
        <div class="col-7">
          <form action="{% url 'login' %}" method="POST">
              {% csrf_token %}
              {% bootstrap_form form %}
              <button type="submit" class="btn btn-primary">Log in!</button>

          </form>
          <div class="mt-4">
              <a href="{% url 'registration' %}">create new account</a>
          </div>
        </div>
{% endblock %}